/* Importa a fonte 'Hahmlet' do Google Fonts com diferentes pesos */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;600;700&display=swap');

/* Estilo básico para o corpo da página */
body {
    font-family: 'Hahmlet', serif; /* Define a fonte padrão para o corpo */
    background-color: #E5E8B6; /* Cor de fundo */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport (janela do navegador) */
}

/* Estilo para o título das estantes */
.titulo-estantes {
    color: #000000; /* Cor do texto */
    font-family: 'Hahmlet', serif; /* Define a fonte para o título das estantes */
}

/* Estilo para a barra de navegação */
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #E3E2E9; /* Cor de fundo da barra de navegação */
    padding: 15px 0px;
}

/* Estilo para informações do usuário logado */
#logado {
    font-family: 'Hahmlet', serif;
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para o botão de sair */
.sair {
    border-radius: 5px;
    background: #e66;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para o container fluido */
.container-fluid {
    display: flex;
    align-items: center; /* Alinha os elementos verticalmente ao centro */
}

/* Estilo para a marca da navbar e botões das estantes */
.navbar-brand {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para a marca e botões das estantes com margem à direita */
.navbar-brand,
.estante-btn {
    margin-right: 35px;
}

/* Estilo para a parte 'Books' da marca */
.find {
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: 'Hahmlet', serif;
    font-weight: 300;
    color: #f39c12;
}

.estante-btn {
    position: center;
    font-size: 1.5rem;
    font-family: 'Hahmlet', serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin-left: 85px;
}

/* Estilo para os botões das estantes específicos (lendo, ler) */
.estante-lendo,
.estante-ler {
    position: center;
    font-size: 1.5rem;
    font-family: 'Hahmlet', serif;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 75px;
}

/* Efeito de hover para marca e botões das estantes */
.navbar-brand:hover,
.estante-btn:hover,
.estante-lendo:hover,
.estante-ler:hover {
    color: #586994;
}

/* Estilo para o container */
.container {
    max-width: 1000px;
    margin: 30px;
}

/* Estilo para o cartão de livro */
.livro-card {
    display: flex;
    align-items: center;
    background-color: #E3E2E9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}

/* Efeito de hover para o cartão de livro */
.livro-card:hover {
    transform: scale(1.05);
}

/* Estilo para as informações do livro no cartão */
.livro-info {
    flex: 1;
}

/* Estilo para o título do livro */
h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para o parágrafo do livro */
p {
    color: #666;
    margin-bottom: 15px;
}

/* Estilo para a imagem do livro no cartão */
img {
    min-width: 100px;
    max-width: 110px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

/* Estilo para o botão de remoção do livro */
.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Efeito de hover para o botão de remoção do livro */
.remove-btn:hover {
    background-color: #c82333;
}

/* Efeito de hover para o botão de sair */
.sair:hover {
    background-color: #c0c2c1;
}
